extends layout

block content
  .ui.grid.container
    .first.row
      h1.ui.center.aligned.icon.header
        i.search.fireBrick.icon
        .content #{error.status}
          .sub.header #{message}
