.alert
  .ui.centered.error.message
    .content

    i.close.icon
  .ui.centered.warning.message
    .content
    i.close.icon
  .ui.centered.info.message
    .content
    i.close.icon

script.
  var messages = !{JSON.stringify(messages || '').replace(/<\//g, '<\\/')}
  $(document).ready(function () {
    // Handle close flash message button
    $('.message .close.icon').on('click', function () {
      var $container = $(this).closest('.message')
      $container.transition({
        duration: '1s',
        animation: 'slide down',
        onComplete: function () {
          $container.find('.content').empty()
        }
      })
    })
    // Show flash messages
    for (level in messages) {
      flash(level, messages[level])
    }
  })
  var trans = {
    animation: {
      show: 'slide down',
      hide: 'slide up'
    },
    duration: {
      show: 750,
      hide: 250
    }
  }
  function flash (level, text) {
    var $visibleMessages = $('.alert .message:visible')
    var hidden = 0
    if ($visibleMessages.length) {
      // Hide all shown messages
      $.each($visibleMessages, function () {
        $(this).transition({
          duration: trans.duration.hide,
          animation: trans.animation.hide,
          onComplete: function () {
            hidden++
            if (hidden === $visibleMessages.length) {
              showMessage(level, text)
            }
          }
        })
      })
    } else {
      showMessage(level, text)
    }
    function showMessage (level, text) {
      if (text) {
        var $container = $('.alert').find('.' + level)
        $container.find('.content').html(text)
        $container.transition({
          duration: trans.duration.show,
          animation: trans.animation.show
        })
      } 
    }
  }
