.alert(role='alert')
  .ui.centered.error.message
    .content
    i.close.icon(role='button' tabindex='0' aria-label='Close')
  .ui.centered.warning.message
    .content
    i.close.icon(role='button' tabindex='0' aria-label='Close')
  .ui.centered.info.message
    .content
    i.close.icon(role='button' tabindex='0' aria-label='Close')
