.footer
  a(href="http://www.opennmt.net") opennmt.net
  a(href="http://forum.opennmt.net") forum.opennmt.net
  .copyright= __('© 2017. @harvardnlp All rights reserved')
  //- twitter link twitter.com/harvardnlp/
