extends layout

block content
  .ui.grid.container
    .first.row
      h1 NMT&#8209;Benchmark Motivation
    .row
      p With open source initiatives, training an NMT engine has never been easier as you can see by looking at some <a href="https://github.com/opennmt/recipes">OpenNMT recipes</a>.
      p However, training engines require lots of GPU consumption, there are thousands of possible parameter combinations and each training is different depending on the language pair, all which make it unpractical to exhaustively test all combinations for any given entity.
      p We believe that sharing results with the entire community will drive more competitive research to be conducted and open new markets for this exciting technology.

    .row
      h1 1M training corpus
    .row
      p We provide 1M sentences for as many language pairs as possible. This corpus is a mix of freely available corpora. We purposely chose a relatively small data set as a single NMT training cycle takes less than one day but generates decent translation quality. We want to challenge techniques and algorithms more than size of data.

    .row
      h1 How to contribute to the benchmark
    .last.row
      ul
        li Create an account
        li Download <a href="/trainingSets">training data</a> available for multiple languages
        li Train a system
        li Download and translate available <a href="/testSets">test sets</a> for the languages
        li Submit your results!
