doctype html
html
  head

    //- Meta
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='NMT Benchmark')
    meta(name='author', content='Systran')

    title= __('NMT Benchmark')

    link(rel='shortcut icon', href='/favicon.ico')

    //- Vendor
    link(rel='stylesheet', href='/stylesheets/vendor/semantic.min.css')
    link(rel='stylesheet', href='/DataTables/DataTables-1.10.13/css/dataTables.semanticui.min.css')
    script(src='/javascripts/vendor/jquery-2.2.0.min.js')
    script(src='/javascripts/vendor/semantic.min.js')
    script(src='/DataTables/datatables.min.js')
    script(src='/DataTables/DataTables-1.10.13/js/dataTables.semanticui.min.js')

    //- Custom    
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block header
      include header.jade
    block flash
      include flash.jade
    block content
    block scripts
    block footer
      include footer.jade
