doctype html
html(lang=locale)
  head

    //- Meta
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='NMT-Benchmark')
    meta(name='author', content='Systran')

    title= __('NMT-Benchmark')

    link(rel='shortcut icon', href='/favicon_16.png')

    // Vendor
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css')
    link(rel='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/css/dataTables.semanticui.min.css')
  
    //- Custom    
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block modal
    block header
      include header
    block flash
      include flash
    block content
    block footer
      include footer
    block scripts
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/js/jquery.dataTables.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/js/dataTables.semanticui.min.js')
      script.
        var messages = !{JSON.stringify(messages || '').replace(/<\//g, '<\\/')}
        $('#userMenu').dropdown()
      script(src='/javascripts/flash.min.js')
