mixin user (userData, external)
  - var url
  if external
    - url = (userData.gitProfile || userData.profileUrl)
  else
    - url = '/userSystems/' + (userData.githubId || userData.id)
  a(href=url)
    img.ui.avatar.image(src=userData.avatarURL || userData._json.avatar_url alt=userData.name || userData.displayName)
    | #{userData.name || userData.displayName}
