.ui.small.modal
  i.close.icon
  .header
  .content
  .actions
    .ui.cancel.button
      i.close.icon
      span= __('Cancel')
    .ui.ok.fireBrick.basic.button
      i.trash.icon
      span= __('Delete')