.ui.small.modal(role='alertdialog' aria-labelledby='#dialogHeader' aria-describedby='#dialogDescription')
  i.close.icon
  #dialogHeader.header
  #dialogDescription.content
  .actions
    .ui.cancel.button(role='button' tabindex='0')
      i.close.icon
      span= __('Cancel')
    .ui.ok.fireBrick.basic.button(role='button' tabindex='0')
      i.trash.icon
      span= __('Delete')
