body {
  margin: 0px;
  padding: 0px;
  margin-top: 92px; /* Menu bar */
  margin-bottom: 20px; /* Status bar */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Header */

@media all and (min-width: 0px) and (max-width: 950px) {
  #brandName {
    display: none;
  }
}

@media all and (min-width: 0px) and (max-width: 700px) {
  .userName, .loginPromt {
    display: none;
  }
}

@media all and (min-width: 0px) and (max-width: 600px) {
  .navbar.fireBrick {
    font-size: smaller;
  }
}

#logo {
  padding: 0.5em 0.5em;
}

#logo img {
  width: inherit;
}

.loginPromt:hover {
  text-decoration: underline;
}

#brandName {
  font-size: 24pt;
}

.fireBrick {
  background: #AC4141 !important;
  color: rgba(255, 255, 255, .5) !important;
}

.basic.fireBrick.button {
  color: #AC4141 !important;
  box-shadow: 0 0 0 1px #AC4141 inset;
}

.basic.fireBrick.button:hover {
  color: White !important;
  background: #AC4141 !important;
}

.basic.fireBrick.button:active {
  background: rgba(140, 33, 33, .95) !important;
}

.fireBrick .item {
  color: White !important;
  font-size: larger;
}

.fireBrick a {
  color: White;
}

i.fireBrick.icon {
  background: inherit !important;
  color: #AC4141 !important;
}

/* Footer */

.footer > * {
  display: inline-block;
  margin-right: 15px;
}

.footer {
  position: fixed;
  bottom: 0px;
  padding: 5px;
  margin: 0px;
  text-align: center;
  box-shadow: 0 -1px 3px 0 rgba(34, 36, 38, 0.15);
  width: 100%;
}

/* Table */

#mainTable {
  width: 100%;
}

table.dataTable.no-footer {
  border-bottom: 1px solid rgba(34, 36, 38, .15); /* semantic ui default */
}

.floated.right.pagination.menu {
  margin: 5px;
}

th:not(.nb) {
  cursor: pointer !important;
}

.tableConfig {
  margin: 15px;
  display: flex;
  justify-content: space-between;
}

/* Cards & controls */

#deleteSystem,
.deleteOutput {
  margin-left: 5px !important;
  cursor: pointer;
}

.fileName,
.languagePair {
  white-space: nowrap;
}

.selectOutput {
  flex-grow: 2;
  margin-right: 5px;
}

.raised.card {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3) !important;
}

.ui.card form {
  display: flex;
  align-items: center;
}

/* Form */

#addSystemButton {
  align-self: center;
}

#systemId {
  font-size: smaller;
  color: Silver;
  font-style: italic;
  display: inline-block;
  margin-left: 1em;
  cursor: pointer;
}

.dropdown .text {
  white-space: nowrap;
}

.special.field {
  display: flex;
  align-items: center;
}

.special.field textarea {
  flex-grow: 2;
}

label.tooltip {
  text-decoration: underline;
  cursor: help;
}

label.large {
  min-width: 140px;
  width: 140px;
  text-align: right;
}

.ui.form label::after {
  content: ':';
}

#createSystem {
  margin-left: 150px;
}

.form .message {
  display: inline-block;
  font-style: italic;
  margin-left: 50px;
  color: #AC4141;
}

.form .message:before {
  content: '* ';
  font-weight: bolder;
}

/* Everything else */

.info.card {
  margin-top: 28px !important;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.information {
  font-size: 16px;
  margin-bottom: 30px;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 40px;
  text-align: justify;
}

.button.indented {
  margin-left: 20px;
  margin-right: 20px;
}

.testSetContainer table,
.trainingSetContainer table {
  /*margin: 10px auto !important;*/
}

.testSetContainer td,
.trainingSetContainer td {
  white-space: nowrap;
}

.alert .message {
  display: none;
}

.ui.centered.message {
  text-align: center;
}

.row p {
  width: 100%;
}

/* API */

.param {
  font-family: monospace;
  font-size: smaller;
}

.param.required {
  background: #F6A2A2;
  color: #8C2525;
}

.default {
  font-style: italic;
}

.example {
  font-family: monospace;
  font-size: smaller  !important;
  text-align: left;
}

.apiKey {
  z-index: 10;
  position: fixed !important;
  top: 180px;
  right: -5px;
}

#copyApiKey {
  box-shadow: 0 0 0 1px #276F86 inset !important;
  color: #276F86 !important;
}

.first.row {
  margin-top: 25px;
}

.last.row {
  margin-bottom: 50px;
}

.header.row {
  font-weight: bolder;
}

.apiEntry {
  margin-bottom: 25px;
}
