body {
  margin: 0px;
  padding: 0px;
  margin-top: 100px; /* Menu bar */
  margin-bottom: 20px; /* Status bar */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Header */

#logo {
  font-size: 24pt;
}

.fireBrick {
  background: #AC4142 !important;
  color: rgba(255, 255, 255, .5) !important;
}

.basic.fireBrick.button {
  color: #AC4142 !important;
  box-shadow: 0 0 0 1px #AC4142 inset;
}

.basic.fireBrick.button:hover {
  color: White !important;
  background: #AC4142 !important;
}

.basic.fireBrick.button:active {
  background: rgba(140, 33, 34, .95) !important;
}

.fireBrick .item {
  color: White !important;
}

.fireBrick a {
  color: White;
}

i.fireBrick.icon {
  background: inherit !important;
  color: #AC4142 !important;
}

/* Footer */

.footer > * {
  display: inline-block;
  margin-right: 15px;
}

.footer {
  position: fixed;
  bottom: 0px;
  padding: 5px;
  margin: 0px;
  text-align: center;
  box-shadow: 0 -1px 3px 0 rgba(34, 36, 38, 0.15);
  width: 100%;
}

/* Table */

table.dataTable.no-footer {
  border-bottom: 1px solid rgba(34, 36, 38, .15); /* semantic ui default */
}

.floated.right.pagination.menu {
  margin: 5px;
}

th:not(.nb) {
  cursor: pointer !important;
}

.tableConfig {
  margin: 15px;
  display: flex;
  justify-content: space-between;
}

/* Cards & controls */

#deleteSystem,
#deleteOutput {
  cursor: pointer;
}

#deleteSystem:hover,
#deleteOutput:hover {
  color: #AC4142 !important;
}

.fileName,
.languagePair {
  white-space: nowrap;
}

.selectOutput {
  flex-grow: 2;
  margin-right: 5px;
}

.ui.card form {
  display: flex;
}

/* Form */

.dropdown .label {
  display: inline-block;
  margin-right: 5px;
}

.ui.form label {
  min-width: 150px;
  width: 150px;
  text-align: right;
}

.ui.form label::after {
  content: ':';
}

.ui.form textarea {
  display: inline-block;
  width: 350px;
}

.buttonContainer {
  margin-left: 160px;
}

/* Everything else */

a {
  color: #00B7FF;
  /*color: #276767;*/
  cursor: pointer;

}

a:hover {
  text-decoration: underline;
}

.information {
  font-size: 16px;
  margin-bottom: 30px;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 40px;
  text-align: justify;
}

.button.indented {
  margin-left: 20px;
  margin-right: 20px;
}

.testSetContainer {
  text-align: center;
}

.testSetContainer table {
  margin: 10px auto !important;
}
